$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38f39f, #38a4d4);
$background-color: #154353;
$background-color: #2c2c2c;

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-self: $align;
    flex-direction: $direction;
} 

@import 'global'; 